body {
font-family: $main-font-family;
font-style: normal;
margin: 0;
background-image: url('../images/bg/bg_m@1x.jpg');

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/bg/bg_m@2x.jpg');
    }

    @media screen and (min-width: 481px) {
        background-image: url('../images/bg/bg_t@1x.jpg');
    }

    @media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/bg/bg_t@2x.jpg');
    }

    @media screen and (min-width: 769px) {
        background-image: url('../images/bg/bg_d@1x.jpg');
    }

    @media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/bg/bg_d@2x.jpg');
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

*,
::before,
::after {
    box-sizing: border-box;
}

.btn {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
    border-color: transparent;
    border: 2px solid;
    border-radius: 10px;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.title {
    font-family: 'Seymour One';
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 30px;
    line-height: 1.26;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        font-size: 34px;
        line-height: 1.26;
    }

    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.25;
    }
}
.subtitle {
    font-family: 'Seymour One';
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    line-height: 1.22;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        font-size: 22px;
        line-height: 1.22;
    }
    
    @media screen and (min-width: $desktop) {
        font-size: 30px;
        line-height: 1.23;
        letter-spacing: 0.04em;
    }
}
.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}