.btn {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  border-color: transparent;
  border: 2px solid;
  border-radius: 10px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title {
  font-family: 'Seymour One';
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  font-size: 30px;
  line-height: 1.26;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 34px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.25;
  }
}
.subtitle {
  font-family: 'Seymour One';
  font-weight: 800;
  text-align: center;
  font-size: 18px;
  line-height: 1.22;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
