.mobile-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 64px;
    background-color: rgba(133, 162, 121, 1);
}

.site-nav {
    display: block;

}