$main-color: #84a178;
$light-color: #fcfcfc;
$text-color: #131313;
$accent-color: #f8d24e;
$input-color: rgba(248, 210, 78, 0.1);
$tomato-color: #d6936d;
$disabled-color: #ababab;
$frame-color: #97af8d;
$button-hover-color: #0a8817;
$white-color: #fff;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: 'Montserrat', 'Times New Roman', 'Verdana', 'Tahoma',
  sans-serif;
$additional-font-family: 'Seymour One';
$card-gap: 16px;
