<!-- MODAL -->
<div data-modal class="backdrop is-hidden">
  <div class="modal modal--about">
    <button data-modal-close class="modal__btn-close">
      <svg class="modal__icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title modal__title-about"><b>How it’s made?</b></p>
    <iframe
      class="about-iframe"
      src="https://www.youtube.com/embed/7gJIyHnD710"
      title="YouTube video player"
    ></iframe>
    <p class="modal__text-about">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
