<!-- section__advantages -->
<section class="section section__advantages">
  <div class="container">
  <h2 class="title-hidden">Advantages</h2>
  <ul class="advantages list">
    <li class="advantages__list icon-cow">
      <h3 class="advantages__title">721</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__list icon-weight">
      <h3 class="advantages__title">16kg</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages__list icon-ice">
    
      <h3 class="advantages__title">84</h3>
      <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</div>
</section>