<section class="contacts">
  <div class="background"></div>
    <div class="container contacts__container">
      <h2 class="contacts__header title hidden">Our contacts</h2>
      <ul class="contacts__list list card-set">
        <li class="contacts__item card-set__item">
          <div class="contacts_wrapper">
            <span class="contacts__text">Cafe</span>
          </div>
          <address class="contacts__data">
            <span class="contacts__town">Chicago</span>
            <a
              class="contacts__address link"
              href="https://goo.gl/maps/AdPoGs94tUa3M5N69"
              target="_blank"
              rel="norefferrer noopener"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
          <ul class="contacts__schedule list">
            <li class="contacts__worktime">
              <span class="contacts__day">Monday - Friday</span>
              <span class="contacts__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__worktime">
              <span class="contacts__day">Saturday - Sunday</span>
              <span class="contacts__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <div class="contacts__links">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
        </li>
        <li class="contacts__item card-set__item">
          <div class="contacts_wrapper">
            <span class="contacts__text">Foodtruck</span>
          </div>
          <address class="contacts__data">
            <span class="contacts__town">Los Angeles</span>
            <a
              class="contacts__address link"
              href="https://goo.gl/maps/Po3kkuN7cEHyuafV6"
              target="_blank"
              rel="norefferrer noopener"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
          <ul class="contacts__schedule list">
            <li class="contacts__worktime">
              <span class="contacts__day">Monday - Friday</span>
              <span class="contacts__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__worktime">
              <span class="contacts__day">Saturday - Sunday</span>
              <span class="contacts__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <div class="contacts__links">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
        </li>
        <li class="contacts__item card-set__item">
          <div class="contacts_wrapper">
            <span class="contacts__text">Cafe</span>
          </div>
          <address class="contacts__data">
            <span class="contacts__town">New York</span>
            <a
              class="contacts__address link"
              href="https://goo.gl/maps/2qDmV8VFzvYZbhuQA"
              target="_blank"
              rel="norefferrer noopener"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
          <ul class="contacts__schedule list">
            <li class="contacts__worktime">
              <span class="contacts__day">Monday - Friday</span>
              <span class="contacts__time">06:00 AM - 10:00 PM</span>
            </li>
            <li class="contacts__worktime">
              <span class="contacts__day">Saturday - Sunday</span>
              <span class="contacts__time">08:00 AM - 16:00 PM</span>
            </li>
          </ul>
          <div class="contacts__links">
            <a class="contacts__link link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="contacts__link link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </div>
        </li>
      </ul>
      <div class="contacts__buttons">
        <buttons
          class="btn contacts__button contacts__button-yellow"
          type="button"
        >
          <span>Our Locations</span>
          <svg class="contacts__vector" width="5px" height="10px">
            <use href="./images/icons.svg#icon-button-vector"></use>
          </svg>
        </buttons>
        <button class="btn contacts__button contacts__button-border" type="button">
          Franchise
          <svg class="contacts__vector" width="5px" height="10px">
            <use href="./images/icons.svg#icon-button-vector"></use>
          </svg>
        </button>
      </div>
    </div>
</section>
