<footer class="footer">
    <div class="container">
        <div class="footer__titles-box">
            <h3>homemade ice cream <span class="footer__pre-title"> made</span></h3>
            <h2>with <span class="footer_title"> passion</span></h2>
        </div>
        <div class="social__contacts">
            <div class="footer__social-icons">
                <ul class="icon__box">
                    <li class="icon__item">
                        <a class="icon__link" href="">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite-icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="icon__item">
                        <a class="icon__link" href="">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite-icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="icon__item">
                        <a class="icon__link" href="">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite-icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <p class="contact__text">Feel free to contact<span class="contact__tel"> +61 (0) 383 766 284</span></p>
            </div>
        </div>
    </div>
    <div>
        <p class="copyright"><span class="copyright-part-1"> © 2022 - IceCream. </span><span
                class="copyright-part-2">All Rights Reserved.</span> </p>
    </div>
</footer>
