<footer class="footer">
  <div class="container">
      <div class="footer__content">
          <div class="footer__title">
              <p class="footer__title-first">homemade ice cream made</p>
              <p class="footer__title-second">with passion</p>
          </div>
          <div class="contact">
              <ul class="contact__list list">
                  <li class="contact__item">
                      <a href="https://github.com/" aria-label="GitHub link" target="_blank" referrerpolicy="no-referrer">
                          <svg class="contact__icon" width="20" height="20">
                              <use href="./images/sprite.svg#icon-git"></use>
                          </svg>
                      </a>
                  </li>
                  <li class="contact__item">
                      <a href="https://web.telegram.org/" aria-label="Telegram link" target="_blank" referrerpolicy="no-referrer">
                        <svg class="contact__icon" width="20" height="20">
                              <use href="./images/sprite.svg#icon-tg"></use>
                          </svg>
                      </a>
                  </li>
                  <li class="contact__item">
                      <a href="https://www.facebook.com/" aria-label="Facebook link" target="_blank" referrerpolicy="no-referrer">
                        <svg class="contact__icon" width="20" height="20">
                              <use href="./images/sprite.svg#icon-fb"></use>
                          </svg>
                      </a>
                  </li>
              </ul>
              <p class="contact__number">Feel free to contact: <a class="contact__number-link" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
          </div>
      </div>
      <hr>
      <div class="copyright">
      <p class="copyright__text">© 2022 - IceCream. All Rights Reserved. </p>
    </div>
  </div>
</footer>