<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__title">
                <p class="footer-title__first">
                    homemade ice cream made
                </p>
                <p class="footer-title__second">with passion</p>
            </div>
            <div class="footer__social">
                <ul class="social__list list">
                    <li class="social__item">
                        <a class="socials__link" href="https://github.com/" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="socials__link" href="https://web.telegram.org/z/" target="_blank"
                            rel="noopener noreferrer" aria-label="telegram">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="socials__link" href="https://uk-ua.facebook.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="facebook">
                            <svg class="social__icon" width="32px" height="32px">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="contact">Feel free to contact<a class="contact__number" href="tel:+610383766284">+61 (0) 383766284</a></p>
            </div>
        </div>
        <div class="copyright">
            <p class="copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</footer>


