<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__btn-close" data-modal-close>
            <svg class="modal__icon" width="100%" height="100%">,
                <use href="./images/icons.svg#icon-close"></use>,
            </svg>
        </button>
            <h3 class="modal__title">Thank you for your interest in owning an Ice Cream shop</h3>
            <p class="modal__text">Due to the overwhelming volume of franchise requests we are not accepting new
                franchisee applications at this time. Once the application process resumes, we will contact you for
                further
                information. Please fill out the contact information below and we will reach out for additional
                information. We appreciate your patience.</p>
       <form class="modal__form" name="modal_form">
            <div class="modal__group">
                <input class="modal__field" type="text" name="user_name" id="user_name" placeholder="Name" required>
                <input class="modal__field" type="tel" name="user_phone" id="user_phone" placeholder="Phone" required>
                <input class="modal__field" type="mail" name="user_mail" id="user_mail" placeholder="Email" required>
                <textarea class="modal__message" name="user_message" id="user_message" rows="6" placeholder="Comment"></textarea>
            </div>
            <button class="btn modal__btn" type="submit">Submit</button>
        </form>
    </div>
</div>