<!-- -- -- Customer Products section -- -- -->
<section class="products">
  <div class="container products__section">
    <label for="products" class="products__label">100% natural</label>
    <h4 class="products__title" id="products">products</h4>
    <div class="products-card__wrapper">
      <ul class="product__set">
        <li class="product__item">
          <h2 class="product__title">ice cream</h2>
          <p class="product__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <svg
            class="product__icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 41 16"
            width="40px"
            height="16px"
          >
            <path
              fill="#131313"
              d="M40.7 8.7a1 1 0 0 0 0-1.4L34.35.92a1 1 0 1 0-1.41 1.41L38.59 8l-5.66 5.66a1 1 0 0 0 1.41 1.41l6.37-6.36ZM0 9h40V7H0v2Z"
            />
          </svg>
          <button class="product__button">
            <a href="" class="product__link"> </a>
          </button>
        </li>
        <li class="product__item">
          <h2 class="product__title">ice coffee</h2>
          <p class="product__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="product__button">
            <a href="" class="product__link"></a>
          </button>
        </li>
        <li class="product__item">
          <h2 class="product__title">milkshakes</h2>
          <p class="product__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="product__button">
            <a href="" class="product__link"></a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
