<div class="data-modal is-hidden" data-modal>
    <div class="modal modal-product">
        <button data-modal-close type="button" class="button modal__close-button">
            <svg class="modal__close-icon" width="18" height="18">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modal-product__subtitle">Chololate icecream</p>

        <div class="modal-product__item">
            <picture></picture>
        </div>

        <ul class="macronutrients__list list">
            <li class="macronutrients__item">
                <div class="macronutrients__wrapper">
                    <div class="macronutrients__ellipse">
                        <span class="macronutrients__value">320</span>
                    </div>
                    <span class="macronutrients__type">kcal</span>
                </div>
            </li>
            <li class="macronutrients__item">
                <div class="macronutrients__wrapper">
                    <div class="macronutrients__ellipse">
                        <span class="macronutrients__value">4g</span>
                    </div>
                    <span class="macronutrients__type">Protein</span>
                </div>
            </li>
            <li class="macronutrients__item">
                <div class="macronutrients__wrapper">
                    <div class="macronutrients__ellipse">
                        <span class="macronutrients__value">8,2g</span>
                    </div>
                    <span class="macronutrients__type">Fats</span>
                </div>
            </li>
            <li class="macronutrients__item">
                <div class="macronutrients__wrapper">
                    <div class="macronutrients__ellipse">
                        <span class="macronutrients__value">40,4g</span>
                    </div>
                    <span class="macronutrients__type">Carbs</span>
                </div>
            </li>
        </ul>

        <p class="modal-product__name ingredients">Ingredients</p>

        <ul class="ingredients__list list">
            <li class="ingredients__item">
                <span class="ingredients__name">Milk</span> 100ml
            </li>
            <li class="ingredients__item">
                <span class="ingredients__name">Belgian chocolate</span> 20g
            </li>
            <li class="ingredients__item">
                <span class="ingredients__name">Cream</span> 150 ml
            </li>
            <li class="ingredients__item">
                <span class="ingredients__name">Cocoa powder</span> 30g
            </li>
            <li class="ingredients__item">
                <span class="ingredients__name">Sugar</span> 40g
            </li>
            <li class="ingredients__item">
                <span class="ingredients__name">Vanilla sugar</span> 10g
            </li>
        </ul>
        </ul>



        <button class="modal__btn btn" type="submit">Submit</button>

    </div>
</div>