<!-- -- -- Customer Reviews section -- -- -->
    <!-- Slider main container -->
    <section class="reviews">
        <div class="container">
          <!-- Additional required wrapper -->
          <div class="reviews__swiper swiper">
            <div class="reviews__slides swiper-wrapper">
              <!-- Slides -->
              <div class="reviews__slide swiper-slide">
                <div class="reviews__wrapper">
                  <img
                    class="reviews__image"
                    alt="review01"
                    srcset="./images/reviews/img-1_@1x.jpg 1x, ./images/reviews/img-1_@2x.jpg 2x"
                    src="./images/reviews/img-1_@1x.jpg"
                    width="85"
                    height="85"
                    loading="lazy"
                  />
                </div>
                <div class="reviews__cover">
                  <p class="reviews__text">
                    I love visiting your cafe. You prepare the most delicious ice
                    cream in Los Angeles! In addition, you have beautiful serving,
                    cozy atmosphere and polite staff.
                  </p>
                </div>
                <p class="reviews__name">Emily, Los Angeles</p>
              </div>
              <div class="reviews__slide swiper-slide">
                <div class="reviews__wrapper">
                  <img
                    class="reviews__image"
                    alt="review01"
                    srcset="./images/reviews/img-2_@1x.jpg 1x, ./images/reviews/img-2_@2x.jpg 2x"
                    src="./images/reviews/img-2_@1x.jpg"
                    width="85"
                    height="85"
                    loading="lazy"
                  />
                </div>
                <div class="reviews__cover">
                  <p class="reviews__text">
                    Every day we come to you with friends after classes in college. We
                    love your ice cream and casual atmosphere!
                  </p>
                </div>
                <p class="reviews__name">Bryan, New-York</p>
              </div>
              <div class="reviews__slide swiper-slide">
                <div class="reviews__wrapper">
                  <img
                    class="reviews__image"
                    alt="review01"
                    srcset="./images/reviews/img-3_@1x.jpg 1x, ./images/reviews/img-3_@2x.jpg 2x"
                    src="./images/reviews/img-3_@1x.jpg"
                    width="85"
                    height="85"
                    loading="lazy"
                  />
                </div>
                <div class="reviews__cover">
                  <p class="reviews__text">
                    Ice cream is my passion! I love your chocolate hazelnut ice cream!
                    And I really like the excellent service - always served politely
                    and quickly!
                  </p>
                </div>
                <p class="reviews__name">Diana, Chicago</p>
              </div>
                    </div>
            <!-- Pagination -->
            <div class="reviews__pagination swiper-pagination"></div>
          </div>
        </div>
      </section>