.about {
    padding-top: 60px;

    background-color: $main-color;
}

.container--about {
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width:768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width:1200px) {
        padding-left: 17px;
        padding-right: 17px;
    }
}

.about__box {
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.about__title {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    

    text-transform: uppercase;

    color: $light-color;

    @media screen and (max-width:767.98px) {
        max-width: 200px;
    }

    @media screen and (min-width:768px) {
        margin-bottom: 98px;

        font-size: 34px;
        line-height: calc(43/34);
        letter-spacing: 0.06em;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 121px;

        font-size: 36px;
        line-height: calc(45/36);
    }
}

.about__label {
    display: block;
    margin-bottom: 12px;

    font-family: $main-font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(22/18);

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    color: $light-color;

    @media screen and (min-width:$tablet) {
        font-weight: 800;
        font-size: 22px;
        line-height: calc(27/22);
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
        line-height: calc(37/30);
}   
}

.img {
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:$tablet) {
        width: 330px;
        height: 330px;
        margin-right: 38px;
    }

    @media screen and (min-width:$desktop) {
        width: 491px;
        height: 491px;
        margin-left: 0;
        margin-right: 109px;
    }
}

.img__box {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
    background: $accent-color;

    @media screen and (min-width:768px) {
        width: 330px;
        height: 330px;
        margin-bottom: 0;
    }

    @media screen and (min-width:1200px) {
        width: 491px;
        height: 491px;
}
}

.back-img {
    position: absolute;
    top: -22px;
    z-index: 1;

    @media screen and (min-width:$tablet) {
        top: -26px;
    }
    @media screen and (min-width:$desktop) {
        top: -29px;
    }
}

.front-img {
    position: relative;
    z-index: 2;
}

.image{
    width: 100%;
}


.about__text {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:$tablet) {
        max-width: 336px;
        height: fit-content;
        margin-bottom: 32px;
    }

    @media screen and (min-width:$desktop) {
        max-width: 463px;
        margin-bottom: 54px;
    }
}

.about__text-1 {
margin-bottom: 4px;

font-family: $main-font-family;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: calc(21/12);

text-align: center;
letter-spacing: 0.04em;

color: $light-color;

@media screen and (min-width:$tablet) {
        margin-bottom: 8px;
        text-align: left;
    }

    @media screen and (min-width:$desktop) {
        font-size: 16px;
        line-height: calc(28/16);
    }
}

.about__text-2 {
margin-bottom: 10px;

font-family: $main-font-family;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: calc(19/12);

text-align: center;

color: $light-color;

@media screen and (min-width:$tablet) {
        margin-bottom: 8px;
        text-align: left;
    }

@media screen and (min-width:$desktop) {
        font-size: 14px;
        line-height: calc(27/14);
    }
}

.about__text-3 {
    font-family: $main-font-family;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: calc(23/12);

letter-spacing: 0.04em;

color: $light-color;

    @media screen and (max-width:767.98px) {
        display: none;
    }

    @media screen and (min-width:$desktop) {
        font-size: 14px;
        line-height: calc(27/14);
    }
}

.btn--about {
    display: block;
    width: 164px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    background: $accent-color;
    border: 0;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(18/14);

    color: #000000;

    &:hover {
    border-color: $button-hover-color;
    background-color: $button-hover-color;
  }
  &:focus {
    border-color: $button-hover-color;
    background-color: $button-hover-color;
    color: $white-color;
  }
  &:disabled {
    border-color: $disabled-color;
    background-color: $disabled-color;
  }

    @media screen and (min-width:$tablet) {
        display: inline-block;
    }
}

.btn__icon {
    fill: #000000;
}

.modal-about {
    @media screen and (min-width:768px) {
        padding-left: 60px;
    padding-right: 60px;
    }
    
}

.modal__title-about {
    margin-bottom: 20px;

    

    @media screen and (min-width:$tablet) {
        margin-bottom: 32px;
    }
}

.about-iframe {
    width: 224px;
    height: 199px;
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;

    @media screen and (min-width:$tablet) {
        margin-bottom: 32px;
        width: 448px;
        height: 205px;
        align: center;
    }
}

.modal__text-about {

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: calc(20/14);

@media screen and (min-width: 768px) {
    font-size: 16px;
line-height: calc(22/16)
}
}