body {
  font-family: $main-font-family;
  font-style: normal;
  margin: 0;
  background-image: url('../images/bg/bg_m@1x.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/bg_m@2x.jpg');
  }

  @media screen and (min-width: 481px) {
    background-image: url('../images/bg/bg_t@1x.jpg');
  }

  @media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/bg_t@2x.jpg');
  }

  @media screen and (min-width: 769px) {
    background-image: url('../images/bg/bg_d@1x.jpg');
  }

  @media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/bg/bg_d@2x.jpg');
  }

  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}
