.menu-toggle {
    display: block;
    background-color: #84A278;
    border: none;
    margin-top: 29px;
    margin-bottom: 5px;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}