.modal.contacts-modal {
  padding: 28px;
  @media screen and (min-width: $tablet) {
    padding: 32px 60px;
  }
}
.contacts-modal__title,
.contacts-modal__wrapper {
  margin-bottom: 22px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}
.contacts-modal__wrapper {
  width: 100%;
  height: 200px;
  @media screen and (min-width: $tablet) {
    width: 448px;
    height: 260px;
  }
}
