.footer {
    outline: 1px solid #E1E1E1;
    padding-bottom: 12px;
    background-color:$main-color;

    &__content {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.footer-title {
    width: 80vw;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: $light-color;

    @media screen and (min-width: 768px) {
        width: 260px;
        font-size: 26px;
    }

    @media screen and (min-width: 1280px) {
        width: auto;
        font-weight: 400;
        font-size: 30px;
    }

    &__second {
        padding-top: 20px;
        font-size: 34px;

        @media screen and (min-width: 768px) {
            padding-top: 20px;
            font-size: 48px;
        }

        @media screen and (min-width: 1280px) {
            font-weight: 700;
            padding-top: 20px;
            font-size: 58px;
        }
    }
}

.contact {
    &__socials {
        display: flex;
        justify-content: end;

        &__social-item {
            width: 32px;
            height: 32px;
            border-radius: 50%;
           background-color:$accent-color;
            display: flex;
            justify-content: center;
            align-items: center;

            &__icon {
                fill: $main-color;
                width: 18px;
                height: 18px;
                transition: fill 0.28s cubic-bezier(0.4, 0, 0.2, 1);
            }

            &__icon:hover,
            &__icon:focus {
                fill: $light-color;
                cursor: pointer;
            }
        }

        &__social-item:not(:last-child) {
            margin-right: 30px;
        }
    } }

    .contact__number {
        margin: 40px 0 40px 0;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.02em;
        color: #131313;
        text-align: right;
    
        @media screen and (min-width: 768px) {
          font-size: 14px;
        }
    
        @media screen and (min-width: 1280px) {
          font-size: 16px;
        }

        .contact__number__link {
            text-decoration: none;
            color: white;
            transition: color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
          }
      
          &__link:hover,
          &__link:focus {
            color: $accent-color;
          }
        }
      
      
      .copyright {
        width: 165px;
        margin: 15px auto 0 auto;
      
        @media screen and (min-width: 768px) {
          width: auto;
        }
      
        &__text {
          text-align: center;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: $copyright;
        }
      }