.footer {
    outline: 1px solid #E1E1E1;
    padding-bottom: 63px;
    background-color:$main-color;
    
    &__wrap{
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  }
  
  .footer__title {
    width: 80vw;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      width: 260px;
      font-size: 26px;
    }
  
    @media screen and (min-width: 1280px) {
      width: auto;
      font-weight: 400;
      font-size: 30px;
    }
  &__second {
    padding-top: 20px;
      font-size: 34px;
  
      @media screen and (min-width: 768px) {
        padding-top: 20px;
        font-size: 48px;
      }
  
      @media screen and (min-width: 1280px) {
        font-weight: 700;
        padding-top: 20px;
        font-size: 58px;
      }
    }
  }
  
  
    
  
  .footer__social {
    display: flex;
      justify-content: end;
    }
  
  
  .social__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $accent-color;
    display: flex;
        justify-content: center;
        align-items: center;
  }
  
  .social__icon {
    fill: $main-color;
    width: 20px;
    height: 20px;
    transition: $timing-function;
  }
  .social__icon:hover,
  .social__icon:focus{
  fill: white;
  cursor: pointer;
  }
  
  .social-item:not(:last-child) {
    margin-right: 30px;
  }
  
  
  .contact {
    margin: 40px 0 40px 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-align: right;
    color: $text-color;
  
    @media screen and (min-width: 768px) {
      margin-top: 32px;
      font-size: 14px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-top: 34px;
      font-size: 16px;
    }
  
    &__number {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $light-color;
      transition: $timing-function;
  
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
  
  .copyright {
    margin: 15px auto 0 auto;
    width: 165px;
    @media screen and (min-width: 768px) {
      width: auto;
    }
      &__text{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $copyright;
  }
  }
    
  
      
  
  
  
      
  
  