.reviews__container {
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}
.reviews__slide {
  @include alignment(center, center);
  flex-direction: column;
  gap: 32px;
}

.reviews__wrapper {
  @include alignment(center, center);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__cover {
  padding: 35px 39px;
  max-width: 968px;
  background-color: $main-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 28px 80px;
  }

  @media screen and (min-width: 1200px) {
    padding: 43px 109px;
  }
}
.reviews__text {
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  color: $light-color;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.reviews__name {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);
  text-align: center;
  color: $text-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.reviews .swiper .swiper-pagination {
  bottom: 0px;
}
.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: $main-color;
}
